#login{
    font-weight: bold;
    padding: 3rem;
    margin-left: 550px;
    
}



#baslik {
    font-size: 2rem;
    font-weight: bold;
    background-color: greenyellow;
    padding : 1rem;
}