html{
    background-color: rgb(153, 243, 255);
}

#navbar{
    background-color: rgb(0, 0, 155);
}

ul li a{
    color: white;
}

#navbar ul li a:hover {
    background: greenyellow;
    border-radius: 4px;
}


#baslik
{
    background: rgb(0, 174, 255);
    font-size: 1.8rem;
}

#bilgi
{
    background: rgb(0, 174, 255);
    font-size: 1.2rem;
}

.container form{
    width: 30rem;
}
